* {
  margin: 0;
  padding: 0;
}
.navbar .nav-link,
.navbar-brand,
.offcanvas-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#project {
  background-color: #e2edff;
}
#project .btn {
  border-radius: 20px;
  color: #fff;
}
#project a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
#project a:hover {
  color: black;
}

#contact a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
#contact a:hover {
  color: black;
}

section {
  padding-top: 5rem;
}
